{% load filter_question %}

<html>
    <head>
        <!-- Author: Tom MacLean -->
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'EHESTPRAC/style.css' %}">
    </head>
    <body>
        <h4 style = "text-align: center;"><a href = "../">Take me back to the choices page</a></h4>
        <h1>EHEST Pre-flight Risk Assessment Checklist</h1>
        <h1>{{ flight_category_name }}</h1>
        <h3>Note: Will not count mitigations where no text is entered or the mitigated score is not lower than the initial score</h3>
        <div class = "fullContainer">
            <form action="results/" method="post" name="mainForm">
                {% for question in questions %}

                    <div class = "questionContainer">
                        {% with question.question_text|split:" - " as parts %}
                            {% if parts.2 %}
                                <h4>{{ parts.0 }}</h4>
                                <h2>{{ parts.1 }}</h2>
                                <h3>{{ parts.2 }}</h3>
                            {% else %}
                                <h2>{{ parts.0 }}</h2>
                                <h3>{{ parts.1 }}</h3>
                            {% endif %}
                        {% endwith %}

                        <div class = "mitigationContainer">
                            <strong>Mitigation</strong>
                            <textarea name = "mit_text{{question.id}}" id = "mit_text{{question.id}}" ></textarea>
                            <br />
                            <br />
                            <strong>New risk score  </strong>
                            
                            <input type="radio" name="mitigation{{question.id}}" id="mitigation{{question.id}}_0" value="0"/>
                            <div class = "mitigationBox0">
                                <label for = "mitigation{{question.id}}_0">
                                    <div class = "mitigation_box1">0</div>
                                </label>
                            </div>
                            
                            <input type="radio" name="mitigation{{question.id}}" id="mitigation{{question.id}}_1" value="1"/>
                            <div class = "mitigationBox1">
                                <label for = "mitigation{{question.id}}_1">
                                    <div class = "mitigation_box1">1</div>
                                </label>
                            </div>
                            
                        </div>

                        <div class = "answerContainer">
                            {% csrf_token %}
                            <br />
                            {% for choice in question.choices_set.all %}
                                {% if choice.score == 0 %}
                                    <input type="radio" name="choices{{question.id}}" id="choices{{question.id}}_{{choice.id}}" value="{{ choice.score }}" checked="checked" required />
                                {% else %}
                                    <input type="radio" name="choices{{question.id}}" id="choices{{question.id}}_{{choice.id}}" value="{{ choice.score }}" required />
                                {% endif %}
                                <div class = "box{{choice.score}}">
                                    <label for = "choices{{question.id}}_{{choice.id}}">
                                        <div class = "question_box">{{ choice }}</div>
                                    </label>
                                </div>
                            {% endfor %}
                        </div>

                        
                        
                    </div>
                    <br />
                {% endfor %}

                <div class = submitButton>
                    <input type="submit" name="submit" value="Get Selected Values" />
                </div>
            </form>
        </div> 
    </body>
</html>