<html>
    <head>
        <!-- Header -->
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'EHESTPRAC/style.css' %}">
    </head>
    <body>
        <h4 style = "text-align: center;"><a href = "../">Take me back to the homepage</a></h4>
        <h1>Flight Category Choices</h1>
        <br />
        <ul style = "text-align: center">
            {% for page in pages %}
                <li><a href="{% url 'EHESTPRAC:checklist' page.flight_categories %}">{{ page.flight_categories }}</a></li>
            {% endfor %}
        </ul>
    </body>
</html>